*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 90px;
  background-color:black;
}

main{
  height: 600px;
  background-color: lightgreen;
}

.img{
  height: 80px;
}

.mir{
  height: 500px;
  background-color: red;
}


.one{
  height: 200px;
  width: 200px;
  background-color: blue;
}
